.search-bar {
  width: 100%;
}

.search-bar form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-bar form div {
  display: flex;
  gap: 10px;
}

.search-bar button {
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
  border-radius: 4px;
  transition: background-color 0.3s;
  padding: 10px 15px;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: rgb(91, 90, 152);
}

.input-search {
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 4px;
  width: 300px;
  background-color: transparent;
  outline: none;
  border: none;
  color: whitesmoke;
}

.input-search:focus {
  outline: none;
}

.searchListWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchListWrapper .search-heading {
  color: whitesmoke;
  text-align: left;
  font-weight: 200;
}

.searchList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.searchList li {
  padding: 10px;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
  border-radius: 4px;
  transition: background-color 0.3s;
  padding: 6px 12px;
  font-size: 14px;
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.searchList li:hover {
  background-color: rgb(113, 112, 178);
}

/* mobile view */
@media (max-width: 768px) {
  .search-bar form {
    flex-direction: column;
    gap: 10px;
  }
  .search-bar form div {
    width: 100%;
  }

  .search-bar form div button {
    width: 50%;
  }

  .input-search {
    width: 100%;
    max-width: none;
  }

  .searchList {
    flex-wrap: wrap;
  }

  .searchList li {
    width: 25%;
  }

  .searchListWrapper {
    margin-top: 15px;
  }

  .searchListWrapper .search-heading {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .input-search {
    font-size: 14px;
  }

  .search-bar button {
    font-size: 14px;
  }
}
